<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Gugi-Regular.ttf</string>
		<string>YanoneKaffeesatz-Regular.ttf</string>
		<string>YanoneKaffeesatz-Bold.ttf</string>
		<string>EtruscoNow Medium.ttf</string>
		<string>EtruscoNowCondensed Bold.ttf</string>
		<string>Sailec Bold.ttf</string>
		<string>Sailec Medium.ttf</string>
		<string>times new roman bold.ttf</string>
		<string>times new roman.ttf</string>
		<string>AzeretMono-Regular.ttf</string>
		<string>Sailec Regular Italic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
